services:
    app:
        image: tenant-template
        # build:
        #     context: .
        #     dockerfile: dockerfile
        volumes:
            - .:/var/www/html
        env_file:
            - .env
        depends_on:
            - db
            - redis

    nginx:
        image: nginx:stable-alpine
        ports:
            - "8089:80"
        volumes:
            - .:/var/www/html
            - .docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app

    db:
        image: postgres:15-alpine
        ports:
            - "5432:5432"
        volumes:
            - pg_data:/var/lib/postgresql/data
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_DATABASE}
    pgadmin:
        image: dpage/pgadmin4
        ports:
            - "5050:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: Admin123
        depends_on:
            - db

    redis:
        image: redis:6-alpine
        ports:
            - "6389:6389"

    mailhog:
        image: mailhog/mailhog
        # logging:
          #  driver: 'none' # Ne pas encombrer les logs Docker
        ports:
            - "8025:8025" # Interface web pour voir les mails
            - "1025:1025"

volumes:
    pg_data:
